body {
    margin:0; padding: 0; 
    display:flex; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.left, .right {
    display: flex;
    flex-direction: column;
}

.left > img {
    width: calc(0.337 * 2 * 100vh);
    height: 100vh;
}

form {
    margin-left: 50px;
    width: 100%; 
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.2);
}

button {
    padding: 6px 18px;
    background-color: bisque;
    color: rgb(38, 29, 49);
    border: none;
    border-radius: 4px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.right {
    padding: 20px;
}
.doit, .intro {
    margin-left: 50px;
    width:  40ch ;
}
label {
    font-size: 0.5rem;
    margin: 30px 0 3px 0;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
li {
    display: flex;
    width:500px;
    
}
li > div {
    float:left; margin-right:20px;
    width: 250px;
}

input, label {
    display: block;
    width: 225px;
}